
APP_PORT=4000
NODE_ENV=development
APP_NAME=imagineapps-api

API_PREFIX=api
APP_FALLBACK_LANGUAGE=en


FRONTEND_DOMAIN=imagineapps.com
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_NAME=imagineapps
DATABASE_SSL_ENABLED=false

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=1w


BACKEND_DOMAIN=https://api.imagineapps.app

MAIL_FAKE=true
AWS_PUBLIC_S3_BUCKET=imagineappspublic

MAIL_API_KEY=

AWS_TRANSLATE_S3_BUCKET=imagineappstranslatedata